.photo {
  width: calc(100% - 8px);

  @apply h-[440px] max-w-[440px] overflow-hidden rounded-[24px] md:size-[328px] md:max-w-full md:rounded-[32px] xl:size-[372px] xl:rounded-[40px] 2xl:size-[504px] sm480:h-[320px];
}

.photo::after {
  position: absolute;
  top: 8px;
  left: 8px;

  content: '';
  display: block;

  width: calc(100% - 8px);
  max-width: 440px;
  height: 320px;
  border-radius: 32px;
  background-color: #f1dec6;

  z-index: -1;
}

@media screen and (min-width: 480px) {
  .photo::after {
    width: 440px;
    max-width: calc(100% - 8px);
    height: 440px;
  }
}

@media screen and (min-width: 768px) {
  .photo::after {
    width: 328px;
    height: 328px;
    border-radius: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .photo::after {
    top: 12px;
    left: 12px;

    width: 372px;
    height: 372px;
    border-radius: 52px;
  }
}

@media screen and (min-width: 1920px) {
  .photo::after {
    top: 16px;
    left: 16px;

    width: 504px;
    height: 504px;
  }
}
