@tailwind base;
@tailwind components;
@tailwind utilities;

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  @apply bg-whiteBeige font-open-sans text-[16px] font-normal leading-[1.2];
}

.section {
  @apply py-[40px] md:py-[80px] xl:py-[100px] 2xl:py-[120px];
}

/** OVERRIDE GOOGLE MARKER STYLES */
.gm-style-iw.gm-style-iw-c {
  @apply flex items-center justify-center gap-4 rounded-3xl p-0 pe-0 smOnly:max-h-[210px] smOnly:max-w-[234px] !important;
}
.gm-style-iw-chr {
  @apply hidden !important;
}
.gm-style-iw-d {
  @apply overflow-hidden smOnly:max-h-[210px] !important;
}

/** OVERRIDE GOOGLE MARKER STYLES */
.gm-style-iw.gm-style-iw-c {
  @apply flex items-center justify-center gap-4 rounded-3xl p-0 pe-0 smOnly:max-h-[210px] smOnly:max-w-[234px] !important;
}
.gm-style-iw-chr {
  @apply hidden !important;
}
.gm-style-iw-d {
  @apply overflow-hidden smOnly:max-h-[210px] !important;
}

/** FORM STYLES */
.input {
  @apply relative mb-1 w-full rounded-2xl border-none bg-greenLight px-4 py-3 text-left text-sm/[1.4] text-brownDark transition placeholder:text-sm/[1.4] placeholder:text-grey hover:bg-inputActive/20 focus:bg-inputActive/20 focus:outline-none focus-visible:border-none active:bg-inputActive/10 active:text-blackLight md:py-[14px] smOnly:focus-visible:py-[10.6px] smOnly:focus-visible:text-base/[1.4];
}
.input[aria-invalid='true'] {
  @apply bg-inputRed/20 text-brown;
}
.label {
  @apply relative flex flex-col text-sm/[1.4] text-brownDark smOnly:mb-4;
}

/* SLIDER */
.swiper-button-disabled.ctrlSliderBtn {
  @apply text-grey hover:text-grey focus:text-grey;
}

.swiper-pagination {
  display: flex !important;
  gap: 8px !important;
  justify-content: center !important;
  align-items: center !important;
}
.swiper-pagination-bullet {
  background-color: #4c7b63 !important;
  opacity: 0.7 !important;
  width: 8px !important;
  height: 8px !important;
}

.swiper-pagination-bullet-active {
  background-color: #ffffff !important;
  width: 16px !important;
  height: 16px !important;
  opacity: 1 !important;
  background: radial-gradient(
    circle,
    rgba(76, 123, 99, 1) 10%,
    rgba(255, 255, 255, 1) 30%,
    rgba(76, 123, 99, 1) 100%
  ) !important;
  border: 2px solid #4c7b63 !important;
}

@media screen and (min-width: 480px) {
  .swiper-pagination {
    gap: 16px !important;
  }
}

@media screen and (min-width: 480px) {
  .swiper-pagination-bullet {
    width: 16px !important;
    height: 16px !important;
  }
}

@media screen and (min-width: 480px) {
  .swiper-pagination-bullet-active {
    width: 24px !important;
    height: 24px !important;
  }
}

/* FONT UTILITY FOR SMOOTH FONT WEIGHT CHANGE*/
@layer utilities {
  .font-weight {
    font-variation-settings: 'wght' 100;
  }
  .font-extralight {
    font-variation-settings: 'wght' 200;
  }
  .font-light {
    font-variation-settings: 'wght' 300;
  }
  .font-normal {
    font-variation-settings: 'wght' 400;
  }
  .font-medium {
    font-variation-settings: 'wght' 500;
  }
  .font-semibold {
    font-variation-settings: 'wght' 600;
  }
  .font-bold {
    font-variation-settings: 'wght' 700;
  }
  .font-extrabold {
    font-variation-settings: 'wght' 800;
  }
  .font-black {
    font-variation-settings: 'wght' 900;
  }
}

/** HIDE ARROW BUTTONS FOR SERVICES input[type="number"] */
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/** Padio button */
.custom-radio {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  cursor: pointer;
}

.custom-radio span {
  position: relative;
}

.custom-radio span::before {
  content: '';
  position: absolute;
  left: -23px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  border: 2px solid #979797;
  background-color: #f9f2e8;
  border-radius: 100%;
}

.custom-radio input:checked + span::before {
  border: 2px solid #1e5b2a;
  background-color: #fff;
}

.custom-radio input:checked + span::after {
  content: '';
  position: absolute;
  left: -24px;
  top: 50%;
  transform: translate(50%, -50%);
  width: 9px;
  height: 9px;
  background-color: #1e5b2a;
  border-radius: 100%;
}

/** Scroll to top btn */

.scroll-to-top {
  @apply fixed bottom-[134px] right-0 z-[9] hidden size-[40px] items-center justify-center rounded-[100px] bg-beigeDark md:bottom-[114px] xl:bottom-[155px] xl:right-[20px] 2xl:bottom-[167px] 2xl:right-[100px];
}

.scroll-to-top.visible {
  @apply flex;
}

label:has(input[type='radio']:checked) {
  background-color: white;
  border-radius: 40px;
}
